apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicy
metadata:
  name: mutate-dms-dns-policy
spec:
  failurePolicy: Fail
  reinvocationPolicy: Never
  matchConstraints:
    resourceRules:
    - apiGroups: [""]
      apiVersions: ["v1"]
      operations: ["CREATE"]
      resources: ["pods"]
  matchConditions:
  - name: is-hostagent-pod
    expression: >-
      object.metadata.namespace == "dpf-operator-system" &&
      has(object.metadata.labels) &&
      "provisioning.dpu.nvidia.com/component" in object.metadata.labels &&
      object.metadata.labels["provisioning.dpu.nvidia.com/component"] == "hostagent"
  mutations:
  - patchType: ApplyConfiguration
    applyConfiguration:
      expression: >-
        Object{
          spec: Object.spec{
            dnsPolicy: "Default"
          }
        }
---
apiVersion: admissionregistration.k8s.io/v1alpha1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: mutate-dms-dns-policy-binding
spec:
  policyName: mutate-dms-dns-policy
